body,html {
  line-height: 1;
  font-family: 'PingFang SC','Helvetica-Light',"Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  user-select:none;
  -webkit-tap-highlight-color: transparent;
  background:$color-background;
  font-size: $font-size-medium;
}
